<div class="container py-4">
  <div class="flat_details">
    <%= cl_image_tag @flat.photo, width: 800, height: 450, crop: :fill %>
    <div class="details">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.description %></p>
      <h4>Address</h4>
      <p><%= @flat.address %></p>
      <h4>Host</h4>
      <p><%= @flat.user.email %></p>
    </div>
  </div>
  
  <% if @flat.user == current_user %>
    <%= link_to 'Edit Listing', edit_flat_path(@flat), class:"btn btn-secondary btn-pill mr-4" %>
  <% end %>
  <%= link_to 'Back', flats_path, class:"btn btn-primary btn-pill" %>
</div>

